*{  font-family: montserrat;
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}
body{
    background-color: #1C1C1C;
    margin: 1%;
    margin-left: 15%;
    margin-right: 15%;

}
header li{
    margin: 2%;
    list-style-type: none;
}
header .nav-text ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    padding: 2%;
}
header.nav-text ul li{
    list-style-type: none;
    padding: 15px;
    font-weight: 200;
}
header address{
    display: flex;
    justify-content: center;
    align-items: center;
}
header address .body-nav-contact{
    background: #373737;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    
    padding: 2%;
    margin: 2%;
 
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header address ul li{
    padding-right: 10px;
}


/* Conteudo Principal */
.main .section-presentation h1{
    margin: 2%;
    background: -webkit-linear-gradient(0deg,rgba(215, 182, 255, 1) 0%, rgba(22, 0, 221, 1) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .section-presentation p{
    background: #373737;
    height: 100%;
    width: 100%;
    border-radius: 10px;

    margin-top: 5%;
    margin-bottom: 5%;
    padding: 4%;

    display: flex;
    align-items: center;
}

.main .section-professional-experience h2{
    display: flex;
    justify-content: end;
    text-align: right;
    
    margin: 2%;
    background: -webkit-linear-gradient(0deg,rgba(215, 182, 255, 1) 50%, rgba(22, 0, 221, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .section-professional-experience h2{
    display: flex;
    justify-content: end;
    text-align: right;
    
}

.main .section-professional-experience .text-photo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .section-professional-experience .text-photo img{
    border-radius: 10px;
    margin: 2%;
}
.main .section-professional-experience .text-photo ul{
    margin: 2%;
}
.main .section-professional-experience .text-photo ul li{
    margin-left: 5%;
}
.section-Myprojects h2{
    margin: 5%;
    text-align: center;
    background: -webkit-linear-gradient(0deg,rgba(215, 182, 255, 1) 0%, rgba(22, 0, 221, 1) 100%);
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
}
.section-Myprojects-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.section-Myprojects-card .card{
    background-color: #2F2F32;
    border-radius: 2px;
    box-shadow: 0px 0px 7px black;
    text-align: center;
    margin: 10px;
    transition: transform 0.2s;
}
.section-Myprojects-card .card:hover{
    transform:scale(1.02);
}

.section-Myprojects-card .card img{
    border-radius: 2px 2px 0px 0px;
    object-fit:cover;
}
.section-Myprojects-card .card p{
    margin: 1%;
    padding: 10%;
}
.section-Myprojects-card .card h5{
    background: -webkit-linear-gradient(0deg,rgba(215, 182, 255, 1) 10%, rgba(22, 0, 221, 1) 100%);
    -webkit-background-clip:text ;
    -webkit-text-fill-color: transparent;
    margin: 1%;
    padding: 15%;
}
.section-my-skills h2{
    margin: 5%;
    text-align: center;
    background: -webkit-linear-gradient(0deg,rgba(215, 182, 255, 1) 10%, rgba(22, 0, 221, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.skill {
  margin: 20px 0;
}

.bar {
  width: 100%;
  background: #333;
  border-radius: 20px;
  overflow: hidden;
  height: 20px;
  margin-top: 5px;
}

.progress {
  height: 100%;
  width: 0;
  background: linear-gradient(90deg, #3f00ff, #ff77ff);
  border-radius: 20px;
  transition: width 2s ease-in-out;
}


#end{
    margin-left: 20%;
    list-style-type:none;
    display: grid;
    grid-template-columns: auto auto auto;
}