header .nav-text .title{
    position: relative;
  display: inline-block;
  cursor: pointer;
}
header .nav-text .title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: white;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
header .nav-text .title:hover::after {
  width: 100%;
}
.section-Myprojects h2{
    margin: 5%;
    text-align: center;
    background: -webkit-linear-gradient(0deg,rgba(215, 182, 255, 1) 0%, rgba(22, 0, 221, 1) 100%);
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
}
.section-Myprojects-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.section-Myprojects-card .card{
    background-color: #2F2F32;
    border-radius: 2px;
    box-shadow: 0px 0px 7px black;
    text-align: center;
    margin: 10px;
    transition: transform 0.2s;
}
.section-Myprojects-card .card:hover{
    transform:scale(1.02);
}

.section-Myprojects-card .card img{
    border-radius: 2px 2px 0px 0px;
    object-fit:cover;
}
.section-Myprojects-card .card p{
    margin: 1%;
    padding: 10%;
}
.section-Myprojects-card .card h5{
    background: -webkit-linear-gradient(0deg,rgba(215, 182, 255, 1) 10%, rgba(22, 0, 221, 1) 100%);
    -webkit-background-clip:text ;
    -webkit-text-fill-color: transparent;
    margin: 1%;
    padding: 15%;
}
.section-my-skills h2{
    margin: 5%;
    text-align: center;
    background: -webkit-linear-gradient(0deg,rgba(215, 182, 255, 1) 10%, rgba(22, 0, 221, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.skill {
  margin: 20px 0;
}

.bar {
  width: 100%;
  background: #333;
  border-radius: 20px;
  overflow: hidden;
  height: 20px;
  margin-top: 5px;
}

.progress {
  height: 100%;
  width: 0;
  background: linear-gradient(90deg, #3f00ff, #ff77ff);
  border-radius: 20px;
  transition: width 2s ease-in-out;
}

