*{  font-family: montserrat;
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}
body{
    background-color: #1C1C1C;
    margin: 1%;
    margin-left: 15%;
    margin-right: 15%;

}
a{
    color: white;
    text-decoration: none;

}
h3{
    background: -webkit-linear-gradient(0deg,rgba(215, 182, 255, 1) 50%, rgba(22, 0, 221, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

