/* =========================
   RESPONSIVIDADE
========================= */

@media (max-width: 768px) {
    header .nav-text ul {
        gap: 0.5rem;
    }

    header .nav-text .title {
        font-size: 0.7rem;
    }

    .tools-carousel {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .hero-title {
        font-size: 3rem;
    }
}
